pipeline/Copy Activity Custom Query.json
{
	"name": "Copy Activity Custom Query",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySQLLocal",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@concat('Clone_', activity('LookupMetadata').output.value[1])",
								"type": "Expression"
							},
							"schema": {
								"value": "@activity('LookupMetadata').output.value[0]",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MySQLLocal",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@concat('Clone_', activity('LookupMetadata').output.value[1],'2')",
								"type": "Expression"
							},
							"schema": {
								"value": "@activity('LookupMetadata').output.value[0]",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from dbo.tablenames",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MySQLLocalTablename",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "2209140050001514 - Copy Activity"
		},
		"annotations": []
	}
}