SelfADF01/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SelfADF01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sqltoblob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BlobtoBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryDataset",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Input"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDataset",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Output"
								}
							}
						]
					},
					{
						"name": "CopySQLtoCSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BlobtoBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [dbo].[DimCurrency]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CurrencyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CurrencyAlternateKey",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "CurrencyName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLDBHosted",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobCSV",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Output",
									"filename": "DimCurrency.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "L200 Module tryout"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "udt_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "udt_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "udt_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ordinal_position",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_default",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_nullable",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "data_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_maximum_length",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_octet_length",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_precision_radix",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_scale",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "datetime_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "interval_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "interval_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "maximum_cardinality",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dtd_identifier",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_derived_reference_attribute",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "information_schema",
					"table": "attributes"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowtrigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DataFlowpipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-07-31T08:30:00Z",
						"endTime": "2022-08-01T00:30:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/L200_module_tryout')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "sqltoblob",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-08-04T03:14:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sqltoblob')]"
			]
		}
	]
}