SelfADF01/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SelfADF01"
		},
		"AzurePostgreSql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "VnetIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Databrick premium run",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 2,
						"startTime": "2022-09-22T10:05:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json2Sink",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select2"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ts as integer,",
						"          userId as string,",
						"          sessionId as integer,",
						"          page as string,",
						"          auth as string,",
						"          method as string,",
						"          status as integer,",
						"          level as string,",
						"          itemInSession as integer,",
						"          location as string,",
						"          lastName as string,",
						"          firstName as string,",
						"          registration as integer,",
						"          gender as string,",
						"          artist as string,",
						"          song as string,",
						"          length as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> source1",
						"source1 select(mapColumn(",
						"          ts,",
						"          userId,",
						"          sessionId,",
						"          page,",
						"          auth,",
						"          method,",
						"          status,",
						"          level,",
						"          itemInSession,",
						"          location,",
						"          lastName,",
						"          firstName,",
						"          registration,",
						"          gender,",
						"          artist,",
						"          song,",
						"          length",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 aggregate(groupBy(gender,",
						"          level),",
						"     noOfaggre = count()) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ts as integer,",
						"          userId as string,",
						"          sessionId as integer,",
						"          page as string,",
						"          auth as string,",
						"          method as string,",
						"          status as integer,",
						"          level as string,",
						"          itemInSession as integer,",
						"          location as string,",
						"          lastName as string,",
						"          firstName as string,",
						"          registration as integer,",
						"          gender as string,",
						"          artist as string,",
						"          song as string,",
						"          length as double",
						"     ),",
						"     partitionFileNames:['output.json'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AdventureworkLT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1 Azure SQL DB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "Select * from Airport",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Azure_SQLDB",
								"type": "DatasetReference",
								"parameters": {
									"DBName": "AirlinePerformance-OLTP"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup2 Self Hosted SQL DB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from dbo.DimDate",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SelfHostedSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"DBName": "AdventureWorksDW2019"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-30T08:47:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Activity Custom Query')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('select distinct * from ',activity('LookupMetadata').output.value[0].naming,'.Clone_', activity('LookupMetadata').output.value[1].naming)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "truncate table [dbo].[Clone_DimCustomer2];",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySQLLocal",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@concat('Clone_', activity('LookupMetadata').output.value[1].naming)",
										"type": "Expression"
									},
									"schema": {
										"value": "@activity('LookupMetadata').output.value[0].naming",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "MySQLLocal",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "@concat('Clone_', activity('LookupMetadata').output.value[1].naming,'2')",
										"type": "Expression"
									},
									"schema": {
										"value": "@activity('LookupMetadata').output.value[0].naming",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LookupMetadata",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from dbo.tablenames",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "MySQLLocalTablename",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2209140050001514 - Copy Activity"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqltoblob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BlobtoBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryDataset",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Input"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDataset",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Output"
								}
							}
						]
					},
					{
						"name": "CopySQLtoCSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "BlobtoBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from [dbo].[DimCurrency]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CurrencyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CurrencyAlternateKey",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "CurrencyName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLDBHosted",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobCSV",
								"type": "DatasetReference",
								"parameters": {
									"directory": "ADF L200/Output",
									"filename": "DimCurrency.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "L200 Module tryout"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "udt_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "udt_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "udt_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ordinal_position",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_default",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_nullable",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "data_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_maximum_length",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_octet_length",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "character_set_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "collation_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_precision_radix",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "numeric_scale",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "datetime_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "interval_type",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "interval_precision",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attribute_udt_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_catalog",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_schema",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "scope_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "maximum_cardinality",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dtd_identifier",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "is_derived_reference_attribute",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "information_schema",
					"table": "attributes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataFlowtrigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "DataFlowpipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-07-31T08:30:00Z",
						"endTime": "2022-08-01T00:30:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/DataFlowpipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/L200_module_tryout')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "sqltoblob",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-08-04T03:14:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/sqltoblob')]"
			]
		}
	]
}